{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
 alert('password change successfully');
 window.location=('{% url 'logout' %}');
</script>

{% endifequal %}



{% ifequal error "yes" %}
<script>
 alert('invalid login,try again'):
</script>
{% endifequal %}



<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="#">
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">
                CHANGE PASSWORD
            </h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                <label>OLD PASSWORD</label>
                <input type="password" class="form-control" placeholder="ENTER OLD PASSWORD" name="old">
                <label>NEW PASSWORD</label>
                <input type="password" class="form-control" placeholder="ENTER NEW PASSWORD" name="new">
                <label>CONFIRM PASSWORD</label>
                <input type="password" class="form-control" placeholder="ENTER CONFIRM PASSWORD" name="confirm">
                <input type="submit" class="btn btn-danger mt-2" value="SAVE">




            </form>

        </div>




    </div>

</div>



{% endblock body %}