{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center">
        EDIT PROFILE
    </h2>
    <hr>
    <div class="form-row">
        <div class="col-sm-6">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
            <div class="form-group col-sm-6">
                <label>FirstName</label>
                <input type="text" class="form-control" value="{{data.user.first_name}}" name="firstname">
            </div>

            <div class="form-group col-sm-6">
                <label>LastName</label>
                <input type="text" class="form-control" value="{{data.user.last_name}}" name="lastname">
            </div>

            </div>

        </form>

    </div>

</div>
<div class="form-row">
     <div class="form-group col-sm-6">
                <label>E-mail Id</label>
                <input type="text" class="form-control" value="{{data.user.username}}" name="emailid" readonly>
            </div>
</div>
    <div class="form-row">
            <div class="form-group col-sm-6">
                <label>Contact</label>
                <input type="text" class="form-control" value="{{data.contact}}" name="contact">
            </div>
    </div>
    <div class="form-row">
            <div class="form-group col-sm-6">
                <label>Branch</label>
                <input type="text" class="form-control" value="{{data.branch}}" name="branch">
            </div>
    </div>
 <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-5" >UPDATE</a>
</div>



{% if error %}
<script>
    alert('profile updated sucessfully...!')
    window.location = "{% url 'profile' %}";
</script>
{% endif %}


{% endblock body %}